<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>

</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">H6 text</h6>
    <p>Какой метод анализа причин дефектов <span style="color: green">выявить</span> повторяющиеся проблемы и их
        коренные причины на основе
        статистических данных?</p>
    <a href="https://github.com/evgeniy1331/autotests_ui" target="_blank">Python</a>
    <img alt="browser.png"
         src="https://img.freepik.com/free-psd/majestic-elephant-isolated_23-2151857814.jpg?semt=ais_hybrid&w=740&q=80"
         style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="" method="post">
        <input aria-label="" type="text" placeholder="Введите текст">
        <input required type="email" placeholder="Введите текст">
        <input type="password" placeholder="Введите текст">
        <textarea placeholder="Text">123</textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
            <td>Item 4</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
            <td>Row 4</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
            <td>Row 4</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
